.input-container.ng-touched input.ng-invalid {
    border: 1px solid red !important;
}
input.ng-valid:not(.ng-pristine) {
    border: 1px solid green !important;
}

 .input-container {
     position: relative;
     margin-bottom: 10px;
 }

 .error-container {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;

 }

 .visibleButton {
     position: absolute;
     top: 64%;
     right: 10px;
     transform: translateY(-50%);
     cursor: pointer;
     background: none;
     border: none;
 }

 .error-text {
     color: red !important;
     display: block !important;
     font-size: 12px !important;
     position: relative;
 }


 .password-strength {
     font-size: 14px;
     margin-top: 10px;

 }

 .password-strength {
     position: absolute;

 }

 .password-strength.strong {
     color: green;
 }

 .password-strength.moderate {
     color: chocolate;
 }

 .password-strength.weak {
     color: red;
 }

 .visibleButton1 {
     position: absolute;
     top: 77%;
     right: 10px;
     transform: translateY(-50%);
     cursor: pointer;
     background: none;
     border: none;
 }