<div style="background-color:#f3f3f9; min-height: 90vh; overflow: auto;">
    <div class="container">
        <div class="p-2 mt-2 ">
            <h4 class="fs-16 mb-1">Welcome, Username!</h4>
            <p class="text-muted mb-0">Here's what's happening with your store today.</p>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-12 my-3">
                <div class="card" id="cardOne">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate ">Total Customers</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="counter-value" data-target="200">0</span>
                            <span class=" bg-warning-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class="bx bx-user-circle text-warning"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 my-3">
                <div class="card" id="cardtwo">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate ">Active Customers</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="active-counter-value" data-target="100">0</span>
                            <span class=" bg-success-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class="bx bx-user-circle text-success"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 my-3">
                <div class="card" id="cardthree">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate">inActive Customers</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="inactive-counter-value" data-target="100">0</span>
                            <span class=" bg-danger-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class="bx bx-user-circle text-danger"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 my-3">
                <div class="card " id="cardfour">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate ">Total cuisines</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="cuisines-counter-value" data-target="67">0</span>
                            <span class=" bg-warning-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class='bx bx-flag text-warning'></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-12 my-4">
                <div class="card " id="cardfive">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate ">Total Meals</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="meals-counter-value" data-target="81">0</span>
                            <span class=" bg-primary-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class="bx bx-dish text-primary"></i>

                            </span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 my-4">
                <div class="card" id="cardsix">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate ">Total Payment receive</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="payment-counter-value" data-target="127">0</span>
                            <span
                                class=" bg-secondary-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class="bx bx-dollar-circle text-secondary"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 my-4">
                <div class="card" id="cardseven">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate ">payment pending</h6>
                        <div class="d-flex align-items-center justify-content-between my-4">
                            <span class="pending-counter-value" data-target="73">0</span>
                            <span class=" bg-danger-subtle p-2 fs-2 d-flex justify-content-center align-items-center">
                                <i class="bx bx-dollar-circle text-danger"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-6 col-12 my-4">
                <div class="card " id="cardeight">
                    <div class="card-body">
                        <h6 class="text-uppercase fw-semibold text-truncate p-3 mb-2 bg-success text-white">Online
                            Users-1</h6>
                        <div class="table-responsive">
                            <table class="table mt-4 ">
                                <thead class="thead-dark" >
                                    <tr>
                                        <th scope="col">S.No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">User IP</th>
                                        <th scope="col">Current Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Super Admin</td>
                                        <td>228.578.8956</td>
                                        <td>online</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
