<div style="background-color:#f3f3f9; min-height: 90vh; overflow: auto; ">
    <div class="container my-3">
        <div *ngIf="selectedUserData">
            <div class="card">
                <div class="card-header">
                    User details
                </div>
                <div class="card-body">
                    <!-- <ul class="list-group">
                        <li class="list-group-item"><strong>S.No:</strong> {{ selectedUserData?.SNo }}</li>
                        <li class="list-group-item"><strong>Name:</strong> {{ selectedUserData?.FirstName }} {{
                            selectedUserData?.LastName }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ selectedUserData?.email }}</li>
                        <li class="list-group-item"><strong>Address:</strong> {{ selectedUserData?.address }}</li>
                        <li class="list-group-item"><strong>City:</strong> {{ selectedUserData?.city }}</li>
                        <li class="list-group-item"><strong>Plan Type:</strong> {{ selectedUserData?.plan }}</li>
                        <li class="list-group-item"><strong>Payment Type:</strong> {{ selectedUserData?.paid ? 'PrePaid'
                            :
                            'PostPaid' }}</li>
                    </ul> -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-semibold">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ selectedUserData?.FirstName }} {{
                                    selectedUserData?.LastName }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-semibold">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ selectedUserData?.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-semibold">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ selectedUserData?.address }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-semibold">City</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ selectedUserData?.city }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-semibold">Plan</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ selectedUserData?.plan }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-semibold">Payment Type</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ selectedUserData?.paid ? 'PrePaid':'PostPaid' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class=" mx-3 mb-3">
                    <button class="btn btn-secondary" (click)="navigateToParent()">Go to User Profile</button>
                </div> -->
            </div>
        </div>

        <div *ngIf="!selectedUserData">
            <p>No user details available.</p>
        </div>
    </div>
</div>