<div style="background-color:#f3f3f9; min-height: 90vh; overflow: auto; ">
    <div class="container my-3">
        <div *ngIf="selectedUserData">
            <div class="card">
                <div class="card-body">
                    <div class="row my-3 mx-1">
                        <div class="col-lg-3 col-md-12 col-12  ">
                            <div class="profile_card card text-center" style="cursor: pointer;">
                                <h5 class="card-title font-semibold my-3">Profile</h5>
                                <img [src]="selectedUserData?.image"
                                    class="img-thumbnail mt-3 mb-4 rounded-circle mx-auto"
                                    style="max-width: 150px ; height: 150px ;  object-fit: cover;">
                                <div class="mb-3" style="line-height: 1.2;">
                                    <span style="font-size: 18px; font-weight: 700 ; ">{{ selectedUserData?.FirstName }}
                                        {{
                                        selectedUserData?.LastName }} </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="#">
                                        <div class="row">
                                            <h5 class="card-title mb-4 fw-bold">User Details</h5>

                                            <p>Email: {{ selectedUserData?.email }}</p>
                                            <p>Address: {{ selectedUserData?.address }}</p>
                                            <p>City: {{ selectedUserData?.city }}</p>
                                            <p>Plan: {{ selectedUserData?.plan }}</p>
                                            <p>Payment Type: {{ selectedUserData?.paid ?
                                                'PrePaid':'PostPaid' }}</p>

                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!selectedUserData">
            <p>No user details available.</p>
        </div>
    </div>
</div>